.chat-list {
  display: flex;
  justify-content: space-between;
}
.chat-list__culumn {
  display: flex;

  align-items: center;
}
.chat-list__img img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
}
.chat-list__user {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.chat-list__user-name {
  font-size: 25px;
  font-weight: 500;
}
.chat-list__user-info {
  opacity: 0.5;
  margin-top: 7px;
}
.info {
  flex-direction: column;
  justify-content: center;
}
.chat-list__message-time {
  font-size: 12px;
  opacity: 0.5;
}
.chat-list__message-number {
  height: 20px;
  width: 20px;
  font-size: 10px;
  color: white;
  background-color: tomato;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
