.user-component__column:last-child {
  position: relative;
}
.user-component__column-time {
}
.user-component__column-notification {
  height: 20px;
  width: 20px;
  font-size: 10px;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2px;
  left: 10px;
}
