.main-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}
.main-header__title {
  font-size: 30px;
  font-weight: 600;
}
.main-header__icons i {
  margin-left: 20px;
  font-size: 22px;
}
